body{
    background-image: url(../medias/images/background/backgroundChoix.jpeg);
}
fieldset {
    display : flex;
    flex-direction : column;
}

[type="radio"] {
    display : none;
}

form {
    display : grid;
    
}

#jeu, #genre {
    grid-row : 1;
}

#langue, [type="image"] {
    grid-row : 2;
}

}
#jeu {
    width: 60vw;
}
#genre {
    
    width: 60vw ;
}

