/*************************commun aux 2 headers******************************/



@font-face{
    font-family: 'New Athletic M54';
    src: url('../fonts/New Athletic M54.ttf');
}
body{
    background-color: black;
    font-family: "New Athletic M54";
    padding: 0;
    margin: 0;
    
}
.header1{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 60px;
    
    
    
}

.iconeDeroulant{
    width:50px;
    margin-top:7px;
    margin-left: 30px;
  
   
}

.iconeMembre{
    width:60px;
    
}

.iconeChat{
    width:50px;
    padding-bottom:10px;
    margin-right: 10px;
}

.titreOngaku{
    width:250px;
    padding-left: 40px;
    padding-top: 10px;
    
}

div a+a{
    margin-right:20px;
    margin-bottom: 20px;
}


    
a{
    color : black;
    text-align:center;
    padding-left: 0;
    text-decoration: none;
   
}

nav{
    position:absolute;
    top:30px;
    left:20px;
}

nav ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.menuDeroulant {
    transform: scaleY(0.5);
    transform-origin: top;
    border-radius:10px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}

.menuDeroulant{
    opacity : 0;
}
    
 .menuDeroulant:hover {
    background-color: #DCDDDE;
    width: 130px;
    opacity:1;
    transform: scaleY(1);
    transition-duration: 1s, 500ms;
    transition-delay: 0, 1s, ;
        }
    
.menuDeroulant>li{
    background-color:darkgrey;
    border-radius: 7px;
    width:90%;
    margin-left: 6px;
   
}




