html, body{
    margin: 0;
    padding: 0;
}

body {
    background: url(../medias/images/backgroundAccueil.jpeg) no-repeat center fixed;
    background-size: contain;
    font-family: 'New Athletic M54';
    margin: 0;
    padding: 0;
    background-color : #DCDDDE;
    height: 100vh;
    
}

main {
    display:flex;
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    overflow: hidden;
}



#play{
    position : relative;

}

.jouer{
    position : absolute;
    height : 50vh;
    top : 15vh;
    left : 5vh;
    z-index : 100;
    
}


.disque{  
    margin-top:10vh;
    height : 60vh;
    
}


#play::before {
    content : "";
    background : url(../medias/images/casqueAccueil.png);
    background-size: contain;
    background-repeat: no-repeat;
    width : 250%;
    height: 250%;
/*    max-width: 100vw;*/
    position : absolute;
    top:-25%;
    left:-75%;
    
    
   
}

.jouer:hover+img{
    
animation: tourner 1s linear infinite; 
    
}


    @keyframes tourner {
    0% {
        transform: rotate(0deg); 
    }

    100% {
        
        transform: rotate(360deg); 
    }
}
