html, body, h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    background: url(../medias/images/backgroundAccueil.png) no-repeat center fixed;
    background-size: contain;
    font-family: 'New Athletic M54';
    margin: 0;
    padding: 0;
    background-color : #DCDDDE;
}

h2 {
    padding-left: 100px;
}

a {
    text-decoration: none;
    color: black;
    transform: rotate(-10deg);
}

main {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

h1::before {
    content : "";
    background : url(../medias/images/FlecheVerteAccueil.png);
    background-size: contain;
    background-repeat: no-repeat;
    width : 150px;
    height: 150px;
    display : block;
    position: absolute;
    top: calc(50% - 0.8em);
    left: calc(-50% - 0.3em);
}

h1::after {
    content : "";
    background : url(../medias/images/PiqueAccueil.png);
    background-size: contain;
    background-repeat: no-repeat;
    width : 150px;
    height: 150px;
    display : block;
    position: absolute;
    top: calc(50% - 1.7em);
    left: calc(-50% + 3.3em);
}