@font-face {
    font-family: "New Athletic";
    src : url(/medias/fonts/New Athletic M54);
}

/********************* GENERAL **************************/
body {
    margin : 0;
    font-family: courier new;
    background-image: url(../medias/images/backgroundJeu.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #DCDDDE;
}

h2 {
    font-size : 50pt;
    margin : 0;
}

main {
    display : flex;
    justify-content: space-around;
    align-items: center;
    height : 100vh;
    width: 100vw;
}
/********************** PLAYER ***************************/

iframe {
    //border-radius : 100000px;
}

/********************** PAROLES *******************************/

.paroles {
    border : 5px solid black;
    border-radius : 30px;
    max-width : 40vw;
    min-height : 60vh;
}

#paroles {
    
}

p {
    line-height: 100px;
    font-size : 20pt;
    padding : 3%;
    max-height : 100%;
    max-width: 100%;
}