@font-face {
    font-family: 'New Athletic M54';
    src: url('./medias/fontsNew Athletic M54.ttf')
}

body {

    background: url(../medias/images/backgroundResultat.jpg) no-repeat center fixed;;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #DCDDDE;
    min-height: 100vh;
    margin:0;
    padding: 0;
    display : flex;
}

main {
    width: 75vw;
    min-width: 640px;
    height: 80vh;
    min-height: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-family: New Athletic M54;

}

h1 {
    font-size: 100px;
    position: relative;
    padding-left: 130px;
    margin-top: 100px;
}

h1::before {
    content: "";
    background: url(../medias/images/FlecheVerte.png);
    background-repeat: no-repeat;
    background-size: contain;
    position : relative;
    left : calc(30% - 60px);
    width: 50px;
    height: 50px;
    

    display: block;
    position: absolute;

    height: 150%;
    width: 100%;

    left: -2%;
    top: -21%
}

.numero1 {
    display: flex;
    justify-content: space-around;
    font-size: 100px;
}

.numero1 p {
    margin: auto;
}

.logoJoueur {
    height: 100px;
    margin: auto;
}

#barreResultat {
    margin: auto;
    width: 50vw;
    height: 24px;
    background-color: white;
    border: solid 5px #D5D6D7;
    border-radius: 10px;

}



.scoreJoueur {
    font-size: 40px;
    margin: auto;
}



.ombreBarre {

    background-image: radial-gradient(farthest-corner at 50% 50%,
    rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%);
}

.revancheRejouerQuitter {
    display: flex;
    justify-content: space-around;

}

.revancheRejouerQuitter a {
    background-color: white;

    border-radius: 5px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;

    text-decoration: none;
    color: black;
}