@font-face {
font-family: 'New Athletic M54';
src: url("../medias/fonts/New Athletic M54.ttf");
}

html {
    background-image: url(../images/backgroundAccueil.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'New Athletic M54';
}

h1, h2, h3, h4, h5, h6 {
    font-family : 'New Athletic M54';
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}

/* Pour les plus petites ecriture utilisez les balises <h3> et <h4> elles sont au bon format de base*/
